.row
  .col-lg-12
    %h1 Summary
    .table-responsive
      %table.table.table-bordered.table-hover.data-table.datatable
        %thead
          %tr
            %th Project Name
            %th Total Request
            %th Today's Request
        %tbody
          - @projects.each do |project|
            %tr
              %td= link_to project.name, report_activation_call_requests_path("q"=>{"project_id_eq"=>project.id})
              %td= project.total_requests
              %td= project.today_requests